	<section class="artist-banner">
	   <div class="container">           
	   </div>
   	</section>
	
	<section class="normal">
		<div class="container">
            <div class="artist-message">
				<center>
					<i class="fa fa-exclamation-circle fa-4x"></i>
					<h5>Oops!</h5>
				</center>
					<p>Hi, Thanks for shoing interests in tushworks. However, we are working hard to provide you with the service in a couple of week. We will notify you once the service is launched.</p>
					<p>--Usman</p>				
			</div>
		</div>
	</section>